main article .information {
    color: #888;
    font-size: 0.9rem;
    margin-top: 0.1rem;
}

main article .title {
    font-weight: bold;
    color: #3B5998;
    font-size: 1.5rem;
}

main article .body {
    color: #333;
    padding-left: 1rem;
    border-left: 4px solid lightgrey;
}

main article .attachment li {
    color: #888;
    font-size: 0.9rem;
    line-height: 16px;
    padding-left: 18px;
    background: url(../_layout/img/paperclip-16x16.png) no-repeat;
}

main article .attachment {
    list-style-type: none;
    padding-left: 0;
}

main article .footer {
    position: relative;
    /*position: absolute;*/
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 4px;
    height: 1.5rem;
}

main article .footer .left {
    display: inline;
    /*position: relative;*/
    position: absolute;
}

main .footer .left span {
    color: green;
    font-weight: bolder;
    font-size: larger;
    position: center;
    padding-left: 1.5rem;
    padding-right: 0.3rem;
}

main .footer .right span {
    padding-left: 1.2rem;
}

main .footer .right a {
    padding-left: 1.2rem;
}

main article .footer .right {
    /*display: inline;*/
    right: 0.5rem;
    position: absolute;
    /*float: right;*/
}
