@font-face {
	font-family: 'Yandex Sans';
	src: url(fonts/yandex-sans.woff2) format('woff2');
}


@font-face {
	font-family: 'Yandex Sans';
	src: url(fonts/yandex-sans-bold.woff2) format('woff2');
	font-family: bold;
}

body {
	font-family: 'Yandex Sans', Helvetica, sans-serif;
	display: grid;
	grid-template: 'topbar topbar topbar topbar topbar aside' auto
				   '. body-top body-top body-top . aside' auto
				   'ya-logo search-field search-field search-field . aside' auto
				   '. ad ad ad . aside' auto
				   '. widget widget widget . aside' auto / 12% 1fr 1fr 1fr 110px 12%;
}

.topbar {
	grid-area: topbar;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.topbar__location {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	margin-left: 16px;
}

.topbar__location_current {
	margin-top: 0;
	margin-left: 4px;
}

.topbar__settings {
	font-size: 14px;
	margin-top: 4px;
	margin-right: 16px;
}

.topbar__settings_text {
	cursor: pointer;
	margin-top: 4px;
}

.geo-icon {
	filter: contrast(0.02);
	width: 16px;
	height: 16px;
	display: block;
}

.aside {
	width: 100%;
	grid-area: aside;
	margin-left: auto;
	display: block;
}	

.login {
	padding: 8px;
	margin-top: 4px;
	height: 50px;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	font-size: 14px;
}

.user-login {
	margin-top: 0;
}

.ya-text::first-letter {
	color: red;
}

.ya-link {
	color: #0054b9;
	text-decoration: none;
}

.visited-link {
	color: #0d44a0;
}

.body-top {
	width: 100%;
	grid-area: body-top;

	display: flex;
	flex-direction: row;
}

.body-top__left-section {
	width: 70%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.body-top__left-section__header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-tab {
	margin-right: 16px;
	text-decoration: none;
	color: #0054b9;
}

.header-tab_big {
	font-size: 20px;
}

.small-text {
	font-size: 14px;
}

.news-item {
	margin-bottom: 6px;
}

.body-top__left-section__list {
	font-size: 16px;
	padding-left: 0;
	margin-top: 4px;
}

.body-top__left-section__footer {
	display: flex;
	flex-direction: row;
	margin-top: auto;
}

.body-top__left-section__footer__currency {
	display: flex;
	flex-direction: row;
	margin-right: 16px;
}

.currency-item {
	margin-top: 0;
	margin-right: 8px;
}

.body-top__right-section {
	width: 40%;
}

.discount-name {
	display: block;
	color: #0054b9;
	text-decoration: none;
	font-size: 20px;
	margin-bottom: 0;
	margin-left: 64px;
}

.discount-img {
	margin-left: 64px;
}

.ya-market {
	margin-top: 0;
	font-size: 14px;
	margin-left: 64px;
}

.ya-logo {
	width: 100%;
	grid-area: ya-logo;
	background: gray;
}

.time-tab {
	margin-top: 18px;
}

.search-field {
	grid-area: search-field;
}

.search-categories {
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search-category {
	text-decoration: none;
	color: #0054b9;
	margin-bottom: 4px;
}

.dark-text {
	margin-top: 4px;
	color: black;
}

.gray-text {
	color: #999;
}

.bold-text {
	font-weight: bold;
}

.search-query-example {
	margin-left: 6px;
}

.search-query-example-cont {
	margin-top: 4px;
}

.search-input {
	border: 2px solid #ffdb4d;
	width: 95%;
	height: 100%;
	box-sizing: border-box;
}

.search-input:focus {
	outline: none;
}

.input-wrapper {
	display: flex;
	flex-direction: row;
	height: 36px;
}

.find-btn {
	height: 100%;
}

.mic-btn {
	position: relative;
	width: 24px;
	height: 24px;
	margin-top: 6px;
	right: 150px;
	filter: contrast(0.02);
}

.keyboard-btn {
	position: relative;
	width: 24px;
	height: 24px;
	right: 145px;
	filter: contrast(0.02);
	margin-top: 6px;
}

.search-example {
	display: flex;
	flex-direction: row;
}

.ad-wrapper {
	box-sizing: border-box;
	width: 90%;
	grid-area: ad;
	border: 2px solid black;
}

.ad-img {
	width: 100%;
}

.widgets {
	grid-area: widget;
	width: 100%;

	display: flex;
	flex-direction: row;

	margin-top: 32px;
}

.joke-widget-wrapper,
.widget-TV,
.widget-car,
.refresh-jokes-label {
	display: none;
}


.widget {
	width: 40%;
}

.widget__title {
	font-size: 20px;
	margin-bottom: 4px;
}

.widget__list {
	margin-top: 0px;
	font-size: 14px;
	padding-left: 0;
	list-style-type: none;
}

.widget__list-item {
	margin-top: 8px;
}

.widget-car__list {
	height: 195px;
	overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.shadow {
	height: 1px;
	border: 1px solid transparent;
}

.shadow-top {
	position: relative;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.shadow-bottom {
	z-index: 1;
	position: relative;
	bottom: 30px;
	box-shadow: 0 -5px 5px rgba(0,0,0,0.5);
}

.settings-popup {
	display: none;
	padding: 8px;
	position: absolute;
	left: 77%;
	top: 5%;

	width: 200px;

	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.settings-popup__item {
	margin-left: 12px;
}

.settings-checkbox {
	display: none;
	position: absolute;
	left: 77%;
	z-index: 2;
}

.jokes-checkbox {
	top: 6%;
}

.tv-checkbox {
	top: 8.2%;
}

.car-checkbox {
	top: 10.8%;	
}

.show-settings-checkbox {
	display: none;
}

.show-settings-checkbox:checked ~ .settings-popup,
.show-settings-checkbox:checked ~ .settings-checkbox {
	display: block;
}

.jokes-checkbox:checked ~ .widgets .joke-widget-wrapper {
	display: block;
}

.jokes-checkbox:checked  ~ .refresh-jokes-label {
	display: block;
}

.tv-checkbox:checked ~ .widgets .widget-TV {
	display: block;
}

.car-checkbox:checked ~ .widgets .widget-car {
	display: block;
}

.refresh-jokes-checkbox {
	display: none;
}

.refresh-jokes-checkbox:checked ~ .widgets .jokes-widget-1 {
	display: none;
}

.refresh-jokes-checkbox:checked ~ .widgets .jokes-widget-2 {
	display: block;
}

.refresh-jokes {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.refresh-jokes-label {
	position: absolute;
	bottom: 8%;
	left: 12.5%;
	cursor: pointer;
}

.refresh-jokes__refresh-img {
	width: 16px;
	height: 16px;
}

.refresh-jokes__text {
	display: inline-block;
	margin-left: 4px;
}

.jokes-widget-2 {
	display: none;
}